*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 
.side-bar{
    margin-top: 20%;
}

#login-form span {
    cursor: pointer;
}

#signup-form span {
    cursor: pointer;
}